<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchTallyWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <TwitchTallyWorker.Properties.Settings>
            <setting name="MasterHostname" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MasterPort" serializeAs="String">
                <value>13370</value>
            </setting>
            <setting name="MasterPassword" serializeAs="String">
                <value>xEFcstcEVOCiMe0fw7cJf3Z5ZEluABJ9</value>
            </setting>
        </TwitchTallyWorker.Properties.Settings>
    </applicationSettings>
</configuration>
