<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchTally.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <TwitchTally.Properties.Settings>
            <setting name="IRCServer" serializeAs="String">
                <value>irc.twitch.tv</value>
            </setting>
            <setting name="IRCPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="IRCUsername" serializeAs="String">
                <value>TwitchViewer</value>
            </setting>
            <setting name="IRCPassword" serializeAs="String">
                <value>oauth:BunchOfOAuthJibberishHere</value>
            </setting>
            <setting name="AutojoinTopChannels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutojoinViewerMinimum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ChannelList" serializeAs="String">
                <value>channel1,channel2,channel3</value>
            </setting>
            <setting name="IRCUsernameAlt" serializeAs="String">
                <value>TwitchViewerAlt</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>chatlogs/</value>
            </setting>
            <setting name="SendLimitNum" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SendLimitTimeMS" serializeAs="String">
                <value>30000</value>
            </setting>
        </TwitchTally.Properties.Settings>
    </applicationSettings>
</configuration>
